.navbar-brand {
  font-weight: bold;
  margin-left: 1vw;
  height: 50px;
}


.label {
  font-size: 90%
}
.legend_recipe{
  width: 20px;
  height: 20px;
  margin: 3px 5px;
  cursor: pointer;
 
}

.legend_steps {
  width: 20px;
  height: 20px;
  margin: 3px 5px;
  cursor: pointer;
  border-radius: 50%; 
 
 
  /* border-radius: 50%; */
}
.im{
  padding-bottom: 100px;
}
.legend_activity{
  width: 30px;
  height: 20px;
  margin: 3px 5px;
  cursor: pointer;
  border-radius: 50%; 
}
.legend_parameter{
  width: 30px;
  height: 20px;
  margin: 3px 5px;
  cursor: pointer;

}


.recipe-color {
  background-color: #f298a1;
}

.step-color {
  background-color: rgb(188 191 238);
}

.activity-color {
  background-color: rgb(148 233 170);
}

.parameter-color {
  background-color: #ffdb6f;
}
.form-select{
  cursor: pointer;

}

.App{
  overflow-x: hidden;
 
}








